html, body {
  height: 100%;
}
body h1 {
  text-align: center;
}

.desk {
  background: url('../cards/desk.png');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  text-align: center;
}

.cards {
  height: 48%;
  position: relative;
  margin: auto;
}

.cards img {
  width: 3em;
  margin: auto;
  display: inline-block;

}

.cards h2 {
  color:bisque;
  font-size:2em;
  line-height: 2em;
  text-shadow: 1px 2px #000;
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000;
}

.actions {
  text-align: center;
}

.actions button{
  width: 10em;
  height: 3em;
}
